<app-topbar></app-topbar>

<div style="margin: 10px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro de Veiculo</mat-card-title>
      <mat-card-subtitle>Adicione os dados referentes ao veiculo</mat-card-subtitle>
    </mat-card-header>

    <form action="">
      <div fxLayout="column" fxLayoutAlign="space-around stretch" >
        <mat-form-field>
          <input type="number" matInput placeholder="Kilometragem">
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Placa">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (yearSelected)="chosenYearHandler($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Modelo">
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Marca">
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Renavan">
        </mat-form-field>
      </div>
    </form>
  </mat-card>
</div>
